{% extends 'base.html' %}



{% block header %}
<div class="alert alert-primary" role="alert">
    新しい投稿
</div>
{% endblock header %}



{% block content %}
<!-- ログインしてる人のみこれがフォーム画面が現れる -->
{% if user.is_authenticated %}
<!-- ポストするフォーム。typeがテキストとファイルどちらもあるため、multipart/form-data設定 -->
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
<p>お住まい・<input type='text' name='title'></p>
<p>自己紹介・・・<input type='text' name='content'></p>
<p><input type="file" name='snsimage'></p>
<!-- hiddenは表には見えないけど裏で動かす時に使う。valueで中のデータを指示　 -->
<input type="hidden" name='auther' value="{{ user.username }}">

<!-- 作成するというボタンをつくる -->
<input type='submit' value='create'>
</form>

{% else %}
ログインしてから出直しな！

{% endif %}
{% endblock content %}


