{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'like_list.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">STECH</h1>
      <p class="lead">~大学を超えたエンジニアの就活サークル~</p>
    </div>
</div>


<div style='text-align:center'>
    <h2>いいね</h2>
    <p><a href="{% url 'list' %}" class="button">ホーム</a></p>
</div>
{% endblock header %}
  
    
{% block content %}
{% if user.is_authenticated %}
<div class='container'>
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <div class="detail-block">
            <img src="{{ item.snsimage.url }}" width=100>
        </div>
        <div class="detail-block">
            <p>名前:<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
            <p>学年:</p>
        </div>
    </div>
    {% endfor %}

    <a href="{% url 'logout' %}">logout</a><!-- ログアウトリンクを作る -->
</div>
{% else %}
ログアウトされてるけん、もう1回ログインしんさいね。
{% endif %}
{% endblock content %}